<div id="header">
	<h1 class="left">
		RepeatCode | Log in
	</h1>
	<div class="clear"></div>
</div>
<div id="main">

	<div id="signin">
		<% form_tag session_path do -%>
		<label for="login">Login</label>
		<%= text_field_tag 'login', @login %>

		<br class="clear">

		<p><label for="password">Password</label>
		<%= password_field_tag 'password', nil %>

		<br class="clear">

		<p><label for="remember_me">Remember me</label>
		<%= check_box_tag 'remember_me', '1', @remember_me %>

		<br class="clear">

		<label> </label>
		<%= submit_tag 'Log in' %>
		<% end -%>
	</div>

</div>