<table class="topic-exercises-table">
	<thead>
		<tr>
			<th class="first"> </th>
			<th class="input">Question or phrase</th>
			<th class="input">Response</th>
			<th class="input">Hint <%= link_to '?', {}, :id => "hint-help" %></th>
			<th class="last"> </th>
		</tr>
	</thead>
	<tbody id="exercises">
		<%= render :partial => "exercise", :collection => exercises %>
		<%= render(:partial => "new_exercise", :object => add) if add %>
	</tbody>
</table>

<%= render :partial => 'global/table_navigation' %>

