<table>
  <tbody>
    <tr>
      <th></th>
      <td>
        Hint text is pre-entered in the answer field, to assist in the response. Hints are useful where longer responses are required or where several responses would be accurate, but where a specific answer is required.
      </td>
    </tr>
    <tr>
      <th colspan="2">Graphs</th>
    </tr>
    <tr>
      <th>#</th>
      <td>
         A hint preceded by a "#" will be treated as a formula for a graph to be displayed with the question. By default, the domain for the graph is -4 < x < 4 and the range is -4 < y < 10. The equation of the graph can be expressed either as a simple formula using standard mathematical operators ( + - * / ) or using the Javascript Math object, so that for example the curve x<sup>2</sup> can be written as "#x*x" or "#Math.pow(x,2)".
      </td>
    </tr>
  </tbody>
</table>
