<div class="item">
  <% fields_for_exercise(new_exercise) do |exercise_form| %>
		<div class="phrase">
			<%= exercise_form.text_field :phrase %>
		</div>
		<div class="response">
			<%= exercise_form.text_field :response %>
		</div>
		<div class="hint">
			<%= exercise_form.text_field :hint %>
		</div>
		<div class="insert">
			<%= exercise_form.text_field :insert %>
		</div>
		<div class="clear"> </div>
	<% end %>
</div>