<table>
  <tbody>
    <tr>
      <th></th>
      <td>
        Notes can provide context to a question and some background information that may be helpful to the user.
      </td>
    </tr>
  </tbody>
</table>
