<table>
	<tbody>
		<tr>
			<th>(())</th>
			<td>
				Text inside double parentheses will only be displayed when a question is introduced or after it has been answered incorrectly. It can be used to provide a more detailed explanation or background information. If more detailed background information is required, the Notes field can be used instead.
			</td>
		</tr>
		<tr>
			<th>*&hellip;*</th>
			<td>
				Enclosing text in asterisks makes it <strong>bold</strong>.
			</td>
		</tr>
		<tr>
			<th>_&hellip;_</th>
			<td>
				Enclosing text in underscores makes it <em>italic</em>.
			</td>
		</tr>
		<tr>
			<th>@&hellip;@</th>
			<td>
				Enclosing text in @-signs makes it <code>code</code>.
			</td>
		</tr>
		<tr>
			<th>=</th>
			<td>
				 A question or phrase preceded by a "=" will be treated as a mathematical formula and will be marked up accordingly. For details on mathematics, see the Response help
			</td>
		</tr>
	</tbody>
</table>
