<table>
  <tbody>
    <tr>
      <th>(a|b)</th>
      <td>
        Either a or b is an aceptable response. This can be used for the whole or a part of a response, so that, for example, "bell(o|a)" or "(bello|bella)" are equivalent.
      </td>
    </tr>
    <tr>
      <th>(a&b)</th>
      <td>
        Both ab and ba are acceptable responses. In other words, the answer is commutative.
      </td>
    </tr>
    <tr>
      <th colspan="2">
        Mathematics
      </th>
    </tr>
    <tr>
      <th>(a)(b)</th>
      <td>
        Both (a)(b) and (b)(a) are acceptable responses. Mainly useful in a mathematical context, where terms enclosed in parentheses are usually expected to be commutative.
      </td>
    </tr>
    <tr>
      <th>=</th>
      <td>
         A response preceded by a "=" will be treated as a formula and will be marked up accordingly.
      </td>
    </tr>
    <tr>
      <th>^</th>
      <td>
        Inside a formula, "a^b" indicates a<sup>b</sup>.
      </td>
    </tr>
      <th>_</th>
      <td>
        Inside a formula, "a_b" indicates a<sub>b</sub>.
      </td>
    </tr>
    <tr>
      <th>%</th>
      <td>
        Inside a formula, "%a" indicates &radic;a.
      </td>
    </tr>
    <tr>
      <th>;</th>
      <td>
        Inside a formula, ";" marks the end of a context, so that "a^bc" indicates a<sup>bc</sup>, while "a^b;c" indicates a<sup>b</sup>c.
      </td>
    </tr>
    <tr>
      <th>/ \</th>
      <td>
        <div class="term">
          Indicates the start and end of a denominator, so that "a/bc" indicates
        </div>
        <div class="term">
          a
          <span class="denominate">bc</span>
        </div>
        <div class="term">
         , while "a/b\c" indicates
        </div>
        <div class="term">
          a
          <span class="denominate">b</span>
        </div>
        <div class="term">
          c
        </div>
      </td>
    </tr>
    <tr>
      <th>$</th>
      <td>
        <div class="term">Inside a formula, "n$r=1" indicates the sum</div><div class="term"><span class="n">n</span><span class="sigma">&Sigma;</span><span class="r">r=1</span></div>
      </td>
    </tr>
    <tr>
      <th></th>
      <td>
      </td>
    </tr>
  </tbody>
</table>
