html, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td	{ margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6	{ font-size: 16px; }
p { margin: 4px ; }
ul { list-style: none; }
li { margin: 4px 0; }
li:before { content: "\00BB \0020"; }
style	{ display: block; }
body	{ background: #e8e8e8; font-family: helvetica, arial, sans-serif; margin: 0;}
hr	{ height: 1px; border: 0; color: DodgerBlue; background-color: DodgerBlue; }

#envelope	{ position: relative; margin: 0 auto; width: 900px; background: white; border: 4px DodgerBlue solid; -moz-border-radius-bottomright: 10px; -moz-border-radius-bottomleft: 10px; -webkit-border-bottom-right-radius: 10px; -webkit-border-bottom-left-radius: 10px; }
.fixed	{ height: 500px; }
#message-envelope	{ margin: 4px auto; width: 892px; }
#timeout	{ position: absolute; border: 1px solid DimGray; left: 40px; right: 40px; top: 40px; bottom: 40px; background: LightYellow; padding-top: 200px; text-align: center; display: none; }
#timeout h2	{ font-size: 18px; }
#header	{ position: absolute; height: 28px; top: 0; right: 0; left: 0; background: DodgerBlue; }
#header a	{ color: MidnightBlue; }
#footer	{ position: absolute; height: 40px; left: 0; right: 0; bottom: 0; margin: 4px; border-top: 1px solid; }
#main	{ margin: 28px 4px 52px 4px; }
.fixed #main	{ position: absolute; top: 28px; right: 0; bottom: 36px; left: 0; margin: 4px; }
#signin	{ margin: 160px auto; width: 300px; }

/* error id's - NOT SURE IF NEEDED */
.fieldWithErrors	{ padding: 2px; background-color: red; display: table; }
#errorExplanation	{ width: 400px; border: 2px solid red; padding: 7px; padding-bottom: 12px; margin-bottom: 20px; background-color: #f0f0f0; }
#errorExplanation h2	{ text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; font-size: 12px; margin: -7px; background-color: #c00; color: #fff; }
#errorExplanation p	{ color: #333; margin-bottom: 0; padding: 5px; }
#errorExplanation ul li	{ font-size: 12px; list-style: square; }

/* lesson id's */
#question	{ margin-top: 30px; text-align: center; line-height: 1.2;  font-size: 24px; }
#response	{ position: absolute; bottom: 20px; left: 0; right: 0; text-align: center; font-size: 28px; line-height: 1.2; }
#tabs	{ position: absolute; bottom: 0; left: 0; right: 0; padding-top: 0px; border-top: 1px solid DodgerBlue; }
#start, #completed	{ margin: 150px; text-align: center; font-size: 18px; }
#response-field	{ width: 442px; font-size: 14px; }
#response-message	{ position: absolute; bottom: 100px; left: 0; right: 0; color: LimeGreen; }
.formula	{ float: left; height: 60px; }
.maths	{ height: 80px; }
#graph	{ margin: 0 auto; width: 200px; height: 200px; }

#course_target	{ text-align: right; width: 30px; height: 13px; font-size: 12px; }

/* maths */
.sup	{ vertical-align: 50%; font-size: 16px; }
.sub	{ vertical-align: -20%; font-size: 16px; }
.radical	{ border-top: 3px solid; padding-top: 4px; }
.denominate	{ display: block; border-top: 3px solid; padding: 6px; vertical-align: -100%; }
.term	{float: left; height: 60px; padding: 4px; }
.n	{ display: block; font-size: 14px; margin-top: -10px; }
.sigma	{ display: block; line-height: .8em;}
.r	{ display: block; font-size: 14px; }
.nospace { letter-spacing: -0.6em; }

/* topics */
.item .phrase, .response, .hint, .insert, .remove	{ float: left; }
.item .response, .hint, .insert	{ width: 180px; }
.item .phrase	{ width: 300px; }

/*courses*/
.col3 { float: left; width: 32%; }

/* tables */
.row { height: 24px; border-bottom: solid 1px DodgerBlue; clear: both; }
.cell { float: left; margin: 2px 1px; }
.half { width: 49%;}
.third { width: 33%;}
.quarter { width: 24%; }
.fifth { width: 19%; }
.sixth { width: 16%; }
.eighth { width: 12%; }
.tenth { width: 9%; }
.twelfth { width: 8%; }

/* form classes */
label	{ float: left; text-align: right; margin: 0px 4px 0 0; }
.checkbox label	{ float: left; }
.checkbox input[type=checkbox]	{ width: 20px; margin: 0 0 0 4px; }
#signin label	{ float: left; width: 120px; height: 14px; margin: 4px; padding-top: 4px; text-align: right; }
#signin input[type=text], input[type=password], input[type=checkbox]	{ width: 120px; height: 14px; margin: 4px; }
#signin input[type=checkbox]	{ margin: 8px 2px; }
.exercise input { width: 95%; }
textarea	{ width: 100%; height: 300px; }
.edit_subject label	{ width: 200px; }
.checkbox label { float: left; width: 150px; }
.checkbox input[type=checkbox]	{ float: left; }


xinput:focus, textarea:focus	{ }

xlabel { float: left; width: 200px; }
xinput[type=text]	{ width: 96%; }

/* deal with left and right slightly differently, partly because of IE oddity */
/* avoid floats inside absolutely positioned elements because of IE oddity */
.left	{ float: left; }
.right	{ text-align: right; } 
.centre	{ margin: 0 auto; } 
.bottom-left { position: absolute; bottom: 0; left: 0; }
.bottom-right { position: absolute; bottom: 0; right: 0; }
.bottom-centre { position: absolute; bottom: 0; left: 0; right: 0; text-align: center; } 
.top-left { position: absolute; top: 0; left: 0; }
.top-right { position: absolute; top: 0; right: 0; }
.pad { padding: 4px; }

.palette	{ height: 24px; font-size: 14px; padding: 8px 0 0 0; }
.button	{ display: inline; padding: 4px; border: 1px solid; margin: 0 -1px; background: LightCyan; cursor: pointer; }
.border	{border: 1px dashed; }
.hidden	{ display: none; } 
.notice	{ color: green; }
.error	{ color: red; }
.center	{ text-align: center; }
.half	{ width: 50%; }
.bold	{ font-weight: bold; }
.incorrect	{ text-decoration: line-through; color: red; }
.space	{ margin: 10px; }
.clear	{ clear: both; }
.tab	{ float: left; width: 33%; height: 300px; }
.data, .code	{ white-space: pre; font-family: monospace; overflow: auto; }
.output	{ padding: 2px; }
.faded	{ opacity: 0.2; }
.copy	{ margin: 20px 80px; }
.q	{ font-weight: bold; margin-bottom: 4px; }
.a	{ margin-bottom: 20px; }
.a:first-letter	{ font-weight: bold; }



