html, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td	{ margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6	{ font-size: 16px; }
p { margin: 4px ; }
ul { list-style: none; }
li { list-style: none; margin: 4px 0; }
li:before { content: "\00BB \0020"; }
style	{ display: block; }
body	{ background: #e8e8e8; font-family: helvetica, arial, sans-serif; margin: 0;}
hr	{ height: 1px; border: 0; color: DodgerBlue; background-color: DodgerBlue; }
table	{ border-collapse: collapse; }

#envelope	{ position: relative; margin: 0 auto; width: 900px; background: white; border: 4px DodgerBlue solid; -moz-border-radius-bottomright: 10px; -moz-border-radius-bottomleft: 10px; -webkit-border-bottom-right-radius: 10px; -webkit-border-bottom-left-radius: 10px; }
.fixed	{ height: 500px; }
#message-envelope	{ margin: 4px auto; width: 892px; }
#header	{ position: absolute; height: 28px; top: 0; right: 0; left: 0; background: DodgerBlue; }
#header a	{ color: MidnightBlue; }
#footer	{ position: absolute; height: 40px; left: 0; right: 0; bottom: 0; margin: 4px; border-top: 1px solid; }
#main	{ margin: 28px 4px 52px 4px; }
.fixed #main	{ position: absolute; top: 28px; right: 0; bottom: 42px; left: 0; margin: 4px; }
.signin	{ margin: 40px auto; width: 400px; }
.fixed-height { height: 420px; }

/* error id's THESE NEED WORK */
.fieldWithErrors	{ background-color: red; display: table; }
#errorExplanation	{ xwidth: 400px; border: 2px solid red; padding: 7px; padding-bottom: 12px; margin-bottom: 20px; background-color: #f0f0f0; }
#errorExplanation h2	{ text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; font-size: 12px; margin: -7px; background-color: #c00; color: #fff; }
#errorExplanation p	{ color: #333; margin-bottom: 0; padding: 5px; }
#errorExplanation ul li	{ font-size: 12px; }

/* lesson id's and classes */
#timeout, #voices	{ position: absolute; border: 1px solid DimGray; left: 40px; right: 40px; top: 40px; bottom: 40px; background: LightYellow; padding-top: 160px; text-align: center; display: none; }
#timeout h2	{ font-size: 18px; }
#question	{ margin-top: 30px; text-align: center; line-height: 1.2;  font-size: 24px; }
#response	{ position: absolute; bottom: 0; left: 0; right: 0; text-align: center; font-size: 28px; line-height: 1.2; }
#start, #completed, .big-notice	{ padding: 150px; text-align: center; font-size: 18px; }
#toolbar { height: 32px; }
input#response-field	{ width: 98%; height: 32px; font-size: 24px; padding-top: 8px; margin: 0 auto; font-family: monospace; border: 1px solid black; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.response-mode	{ margin: 0 auto; font-family: monospace; border: 1px solid black; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
input#response-field:focus	{ background-color: LightYellow; }
#response-message	{ position: absolute; bottom: 100px; left: 0; right: 0; color: LimeGreen; }
#graph	{ margin: 0 auto; width: 180px; height: 180px; }
#course_target	{ text-align: right; width: 30px; height: 13px; font-size: 12px; }
.formula	{ float: left; height: 60px; }
.maths	{ height: 80px; }
.palette	{ font-size: 14px; margin: 3px 0 0 8px; }
.symbol	{ float: left; height: 20px; padding: 4px 6px 0 6px; border: 1px solid; margin: -4px -1px; background: LightCyan; cursor: pointer; }

/* code */
#code-block	{ position: absolute; left: 0; right: 0; padding-top: 0px; border-top: 1px solid DodgerBlue; }
.tab	{ float: left; width: 33%; height: 240px; }
.data, .code	{ white-space: pre; font-family: monospace; overflow: auto; }
.output	{  }

/* maths */
.sup	{ vertical-align: 50%; font-size: 16px; }
.sub	{ vertical-align: -20%; font-size: 16px; }
.radical	{ border-top: 3px solid; padding-top: 4px; }
.denominate	{ display: block; border-top: 3px solid; padding: 6px; vertical-align: -100%; }
.term	{float: left; height: 60px; padding: 4px; }
.n	{ display: block; font-size: 14px; margin-top: -10px; }
.sigma	{ display: block; line-height: .8em;}
.r	{ display: block; font-size: 14px; }
.nospace { letter-spacing: -0.6em; }

/* topics */
.choice-box { float: left; width: 260px; height: 30px; padding: 2px; margin: 0 4px 0 0; border: 1px solid grey; cursor: pointer; -moz-user-select: none; -webkit-user-select: none; user-select: none; }


/* REMOVE
.item .phrase, .response, .hint, .insert, .remove	{ float: left; }
.item .response, .hint, .insert	{ width: 180px; }
.item .phrase	{ width: 300px; }
*/

/*courses*/
.col3 { float: left; width: 32%; }

/* tables - DEPRECATE? */
.row { height: 24px; padding: 0; margin: 0; border-bottom: solid 1px DodgerBlue; clear: both; }
.cell { float: left; height: 20px; padding: 5px 2px 0px 0px; margin: 0; }
.double-row { height: 48px; }
.double-cell { height: 40px; }
.below { clear: right; }
.vertical-bar { border-left: solid 1px DodgerBlue; }
.half { width: 49%;}
.third { width: 33%;}
.quarter { width: 24%; }
.fifth { width: 19%; }
.two-fifths { width: 39%; }
.sixth { width: 16%; }
.eighth { width: 12%; }
.tenth { width: 9%; }
.twelfth { width: 8%; }
.end { float: right; xtext-align: right; }

/* tables */
table	{ width: 100%; margin: 4px 1px; }
th { color: white; background: Grey; padding: 2px; border: 1px solid grey; }
td	{ padding: 2px; color: Grey; margin: 0; border: 1px solid grey; }
table input[type=text]	{ xheight: 1.4em; width: 98%; margin: 0; }
.topic th, .topic td { width: 33%; }

/* form classes */
fieldset { width: 460px; padding: 4px; margin: 0 auto; border: none; }
legend { font-weight: bold; margin: 10px;}
label	{ float: left; width: 220px; text-align: right; padding: 8px 4px 0 0; height: 1em; }
input[type=text], select	{ float: left; width: 216px; margin: 4px;}
input[type=checkbox], input[type=radio]	{ float: left; width: 20px; margin: 8px 4px 0 3px; }
textarea	{ width: 99%; height: 320px; padding: 2px; font-family: helvetica, arial, sans-serif; }
.form-line { padding: 2px; clear: both; }
.comment { float: left; padding: 8px 0 0 6px; }
input[type=submit]	{ margin: 10px; }
.signin label	{ float: left; width: 160px; height: 14px; margin: 6px; padding-top: 4px; text-align: right; }
.signin input[type=text], .signin input[type=password], .signin select	{ width: 140px; height: 14px; margin: 6px 70px 6px 6px; }
.signin input[type=checkbox]	{ margin: 10px 4px; }
.signin .comment	{ padding-top: 10px; }
.cell input[type=submit]	{ margin: -3px 0 0 0; }
.exercise input { width: 95%; }
#header input[type=text]	{ margin: -2px 0 0 0; }
.targets input[type=text] { width: 20px; height: 11px; margin: -2px 0; text-align: right; }
.new-course input[type=submit]	{ width: 240px; margin: 2px; }

/* deal with left and right slightly differently, partly because of IE oddity */
/* avoid floats inside absolutely positioned elements because of IE oddity */
.left	{ float: left; }
.float-right	{ float: right; }
.right	{ text-align: right; } 
.centre	{ margin: 0 auto; } 
.bottom-left { position: absolute; bottom: 0; left: 0; }
.bottom-right { position: absolute; bottom: 0; right: 0; }
.bottom-centre { position: absolute; bottom: 0; left: 0; right: 0; text-align: center; } 
.top-left { position: absolute; top: 0; left: 0; }
.top-right { position: absolute; top: 0; right: 0; }
.pad { padding: 4px; }
.border	{border: 1px solid grey; }
.hidden	{ display: none; } 
.notice	{ color: green; }
.error, .warning	{ color: #f00; }
.centre	{ text-align: center; }
.bold	{ font-weight: bold; }
.grey { color: grey; }
.correct { color: green; }
.incorrect	{ text-decoration: line-through; color: red; }
.white { color: white; }
.italic { font-style: italic; }
.space	{ margin: 10px; }
.big-space { margin-top: 100px; }
.small-gap-above { margin-top: 4px; }
.clear	{ clear: both; }
.faded	{ opacity: 0.2; }
.faded a { cursor: default; }
.pointer	{ cursor: pointer; cursor: pointer; -moz-user-select: none; -webkit-user-select: none; user-select: none; }
.disabled { cursor: default; color: grey; }
.copy	{ margin: 20px 80px; }
.copy p { margin: 1em; }
.small { font-size: 13px; }
.big { font-size: 18px; }
.box { background: LightYellow; border: 1px solid grey; }
.box-text { background-color: #ccc; color: Blue; text-decoration: none; padding: 4px; margin: 4px; border: 2px DodgerBlue solid; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.double-height { line-height: 2em; }
.rtl { direction: rtl; }
.stop { background-color: Red;}
.ready { background-color: Gold;}
.go { background-color: YellowGreen;}
