#envelope	{ position: relative; height: 500px; margin: 0 auto; width: 900px; background: white; border: 4px DodgerBlue solid; -moz-border-radius-bottomright: 10px; -moz-border-radius-bottomleft: 10px; -webkit-border-bottom-right-radius: 10px; -webkit-border-bottom-left-radius: 10px; }
.fixed	{ }
#message-envelope	{ margin: 4px auto; width: 892px; }
#header	{ height: 20px; padding: 4px; background: DodgerBlue; }
#header a	{ color: MidnightBlue; }
#footer	{ position: absolute; height: 36px; left: 0; right: 0; bottom: 0; margin: 4px; padding-top: 4px; border-top: 1px solid; }
.main	{ position: absolute; top: 28px; right: 0px; bottom: 44px; left: 0px; margin: 4px; }
