#envelope	{ position: relative; height: 500px; margin: 10px auto; width: 900px; background: white; border: 1px solid LightGrey; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
#message-envelope	{ margin: 4px auto; width: 892px; }
#header	{ background: DodgerBlue; height: 20px; margin: 0; padding: 12px; -moz-border-radius: 10px 10px 0 0; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; }
#header a	{ color: MidnightBlue; }
#footer	{ position: absolute; height: 36px; left: 0; right: 0; bottom: 0; margin: 4px; padding-top: 4px; border-top: 1px solid; }
.main	{ position: absolute; top: 44px; right: 0px; bottom: 44px; left: 0px; margin: 4px; }
h1	{ color: white; font-size: 26px; font-weight: normal; font-family: Verdana, sans-serif; left: 12px; position: absolute; top: 6px; }
h2	{ margin-top: 4px; }

.even { background-color: LightGrey; }
td	{ border: none; padding: 3px 2px 1px 2px; }
th { border-bottom: 1px solid LightGrey; }

.logo1	{ border-left: 1px solid white; border-top: 1px solid white; height: 18px; left: 12px; position: absolute; top: 11px; width: 9px; }
.logo2	{ border-left: 1px solid white; border-top: 1px solid white; height: 17px; left: 10px; position: absolute; top: 9px; width: 8px; }