NO LONGER IN USE

<div id="header">
	<h1>
		RepeatCode registration
		<%= '&raquo; ' + @user.organization.name if @user.organization %>
	</h1>
</div>

<div id="main">

	<div class="centre big-space">
		<% form_tag 'users/create_without_authentication' do -%>
			<%= submit_tag 'Start learning' %>
		<% end -%>
		<br>
		<div class="space">I already have a login: <%= link_to "Log me in first", '/login'%></div>

	</div>


</div>

<div id="footer">
	<%= render :partial => 'global/toplevel_links' %>
</div>