<div id="header">
	<h1>
		<%= link_to 'Create', subjects_path %>
		&raquo; New
	</h1>
</div>
<div class="main">
	<% form_for(@subject) do |f| %>
		<fieldset>
			<%= render :partial => 'form', :locals => {:f => f } %>
		  <br><br>
			<%= f.submit "Create" %>
		</fieldset>
	<% end %>
</div>

<div id="footer">
	<%= render :partial => 'global/toplevel_links' %>
</div>