<h1>New subject</h1>

<% form_for(@subject) do |f| %>

	<%= render :partial => 'form', :locals => {:f => f } %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', subjects_path %>
