<div id="maths-palette" class="palette hidden">
  <div class="symbol" value="±">±</div>
  <div class="divider">&nbsp;|&nbsp;</div>
  <div class="symbol" value="^">x<sup>a</sup></div>
  <div class="symbol" value="_">x<sub>a</sub></div>
  <div class="symbol" value=";">end</div>
  <div class="divider">&nbsp;|&nbsp;</div>
  <div class="symbol" value="/">x/y</div>
  <div class="symbol" value="\">end</div>
  <div class="divider">&nbsp;|&nbsp;</div> 
  <div class="symbol" value="n$r=1 ">&Sigma;</div>
</div>
