<div id="header">
	<h1>
		Courses
	</h1>
</div>

<div class="main">

	<table class="courses-table">
		<thead>
			<tr>
				<th> </th>
				<th> </th>
				<th>Today</th>
				<th>Backlog</th>
				<th>Last lesson</th>
				<th> </th>
				<th> </th>
				<th> </th>
			</tr>
		</thead>
		<tbody class="paging" limit="12" id="courses">
			<%= render :partial => "course", :collection => @courses.active %>
		</tbody>
	</table>

	<%= render :partial => 'global/table_navigation' %>

	<div class="actions">
		<div class="button">
			<%= link_to 'Choose a new course', new_course_path %>
		</div>
	</div>

</div>

<div id="footer">
	<%= render :partial => 'global/toplevel_links' %>
</div>