<h1>New course</h1>

	<% form_for :course do |f| %>
		<%= f.error_messages %>
	<% end %>

	<% for subject in @subjects %>
		<div>
			<% form_for :course,
			 						:url => subject_courses_path(subject) do |f| %>
				<%= f.submit "Add course" %>
				<%= subject.name %>
			<% end %>
		</div>
	<% end %>

<%= link_to 'Back', courses_path %>
