
<div id="header">
	<h1 class="left">

		<%= link_to 'Home', '/' %> | 
		Frequently asked questions
	</h1>
	<h2 class="right">

	</h2>
	<div class="clear"></div>
</div>
<div id="main">
	
	<div class="copy">
		<%= htmlize render :partial => "faq.txt" %>
	</div>

</div>

<div id="footer">
	<div class="left">

	</div>
	<div class="right">
		<br>

	</div>
</div>