<div id="header">
	<%= render :partial => 'global/logo' %>
	<h1>
		Repeatedly asked questions
	</h1>
</div>
<div class="main scroll">
	
	<div class="copy">
		<%= textilize render :partial => "faq.txt" %>
	</div>

</div>

<div id="footer">
	<%= render :partial => 'global/toplevel_links' %>
</div>