<div id="header">
	<%= render :partial => 'global/logo' %>
	<h1>
		Repeat Text to voice
	</h1>
</div>
<div id="main">
	
	<div class="copy">
		<%= textilize render :partial => "voice.txt" %>
	</div>

</div>

<div id="footer">
	<%= render :partial => 'global/toplevel_links' %>
</div>